<!-- <div class="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-md-2">
        <a class="navbar-brand" href="#">
            <img src="https://www.sterkinekor.com/static/img/sk-logo.png" height="40" width="120" style="min-width: 100% !important;">
        </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-md-8">
        <div class="collapse navbar-collapse" id="navbarText">
        
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">COMPETITIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SK CLUB MOVIE & CARDS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SK SUBSCRIPTION CLUB</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">EXCLUSIVE TO SK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CINEMA NOUVEAU</a>
            </li>
          </ul>
        </div>
    
    
        </div>
        <div class="col-md-2">
            <div class="buttons" style="display: inline;">
            <button class="btn btn-sm btn-outline-secondary" type="button" style="font-family: 'Montserrat', sans-serif; font-size: 11px; margin-right: 6px; height: 30px; font-weight: 600;" >CREATE A PROFILE</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" style="font-family: 'Montserrat', sans-serif; font-size: 11px; color: #0089d0 !important; height: 30px; font-weight: 600;">SIGN IN</button>
            </div>
          </div>
      </nav>
    </div> -->